@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --maincolor: #0a2233;
    --btnColor: #f04033;
}

body{
    background: var(--maincolor);
}


/* header */
#header {
    background: transparent;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
 right: 0;
    left: 0;

}

.navbar-collapse {
    flex-grow: unset;
}

.navbar-nav li a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/* End Header */

/* banner */
#banner {
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
}


.usp {
    background: #0a2233;
}

.usp img {
    width: 50px;
}

.usp-detail h5 {
    color: #fff;
}

.usp-detail h6 {
    color: #fff;
}

.usp-2 {
    background: #f04033;
}

.rera h5 {
    color: #fff;
}

.rera h6 {
    color: #fff;
}



/* End banner */

/* overview */
.heading h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--maincolor);
}

.over-para p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 15px;
    color: #fff;
}


.down-btn button{
    font-family: 'Poppins', sans-serif;
    border-color: var(--btnColor);
    background: var(--btnColor);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.over-img img{
   box-shadow: -8px -8px var(--btnColor);
   border-bottom-right-radius: 70px;
   
}


.full {
    /* position: absolute; */
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
  }
  
  .zoom {
    animation: scale 10s linear infinite;
  }
    
  @keyframes scale {
    50% {
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -ms-transform:scale(1.2);
      -o-transform:scale(1.2);
      transform:scale(1.2);
    }
  }
  
  



/* End overview */

/* floor */
#floor {
    background: linear-gradient(#0a2233b8, #0a2233b8), url('../images/floor-bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
}


/* End floor */


/* configuration */



.price-btn button {
    font-family: 'Poppins', sans-serif;
    background-color: var(--btnColor);
    color: #fff;
    border-color: var(--btnColor);
    font-size: 12px;
    font-weight: 100;
}

#floor .table>:not(caption)>*>* {
    background-color: transparent;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#floor thead {
    background: var(--btnColor);
}


#floor .nav {
    justify-content: center;
}


.floor-img {
    border: 2px solid #fff;
    padding: 10px;
}


#floor .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--btnColor);
    border-color: var(--btnColor);
}

#floor .nav-tabs .nav-link {
    color: #fff;
}

#floor .nav-tabs {
    border-bottom: none;
}

.floor-btn button {
    width: 100%;
    border-radius: 0px;
    background-color: var(--btnColor);
    border-color: var(--btnColor);
    color: #fff;
}

/*End configuration */


/* amenities section */

#amenities {
    background: var(--maincolor);
}

.ame-head {
    margin: 5px;
    padding: 5px;
}

.ame-head h5 {
    font-family: 'Poppins', sans-serif;
    color: #fff;

}

.ame-head ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 2px;
    color: #fff;
}

.ame-para p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

/* End amenities */

/* cta */


#cta{
    background: linear-gradient(#00000059,#00000059),url('../images/cta-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.cta-line h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: bold;

}

.cta-btn button{
    font-family: 'Poppins', sans-serif;
    background: var(--btnColor);
    color: #fff;
    border-color: var(--btnColor);
   padding: 8px 10px;
   border-radius: 5px;
   font-size: 15px;
}


/* End cta */

/* feature section */
#feature {
    background: var(--maincolor);
}

.feature-img {
    background: linear-gradient(#00000000, #00000000), url('../images/feature-bg.webp');
    background-attachment: fixed;
    background-size: cover;
}

.feature-para p {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
}

.feature-head h4 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.feature-list h6 {
    color: #fff;
}

/* End feature */


/* gallery */

#gallery{
    background: var(--maincolor);
}


.gallery-img{
    box-shadow: 0 0 6px #fff;
    border-radius: 10px;
}

.gallery-img img{
    border-radius: 10px;
}

.gallery-img:hover{
    transition: transform .3s;
    transform: translateY(-10px);
   
}


/* end gallery */

/* location */

#location{
    background: var(--maincolor);
}

.location-detail{
    border: 1px solid #fff;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 10px;
}

.location-detail h6{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.location-detail:hover{
    background: var(--btnColor);
}


/* end location */


/* developer */
#developer{
    background: var(--maincolor);
}

.developer-info p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 15px;
    color: #fff;
}


/* end developer */

/* disclaimer */
#disclaimer{
    background: var(--maincolor);
}

.dis-line p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: justify;
}


/* end disclaimer */


/* sticky form */

#sticky-form{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 100%;
    
}

.stickyform{
    background-color: #fff;
    border: 1px solid var(--maincolor);
    width: 100%;
    padding: 5px;
    
}

.stickyform .form-control{
    border-color: var(--maincolor);
}

.stickyform button{
    color: #fff;
}

.stickyform input::placeholder{
    color: var(--maincolor);
}

.stickyform button{
    background: var(--btnColor);
    border-color: var(--btnColor);
    width: 100%;
    padding: 10px 0px;
}


/* End Sticky form */


@media only screen and (max-width: 576px) {
    .usp-2 {
       width: 100%;
    }

    .down-btn button{
        width: 100%;
    }

    .navbar-brand img{
        width: 110px;
    }
    #header{
        background: #fff!important;
    }

    #banner{
        margin-top: 65px;
    }
.over-para p{
    font-size: 13px!important;
}
.feature-para p{
    font-size: 13px!important;
}
.developer-info p {
    font-size: 13px;
}

#developer{
    padding: 10px!important;
}

#disclaimer{
    padding-bottom: 0px!important;
}

.ame-para p{
    font-size: 13px;
}
    
}





/* modal */
.modal-dialog {
    position: relative;
    top: 30%;
}

.modal-button button {
    font-family: 'Merriweather', serif;
    background-color: var(--btnColor);
    color: #fff;
    border-color: var(--btnColor);
    font-size: 15px;
    font-weight: 100;
   width: 50%;
   padding: 8px;
}

.modal .form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid var(--btnColor);
    outline: none;
    box-shadow: none;
}


.modal .form-control{
    border: none;
    border-bottom: 1px solid var(--btnColor);
    background-color: transparent;
    
}

.modal input::placeholder{
    color: #fff;
}

.modal textarea::placeholder{
    color: #fff;
}

.modal{
    --bs-modal-bg:var(--maincolor);
}